@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #14b8a6;
}

.text-primary {
  color: var(--primary);
}

.btn-primary {
  background: var(--primary);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #0d9488;
}

.input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.map {
  min-height: 500px;
  width: 100%;
}